.index-alphabet {
  width: 500rpx;
  min-height: 800rpx;
  background-color: #eee;
  margin: 120rpx auto 0;
  position: relative;
  &-i {
    position: absolute;
    right: -32rpx;
    top: 24rpx;
  }
}
